/* global styles reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* primary colors */
    --light-red: hsl(0, 30%, 93%);
    --orange-yellow: hsl(40, 47%, 93%);
    --green-teal: hsl(162, 45%, 94%);
    --cobalt-blue: hsl(236, 44%, 93%);
    /* gradient colors */
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    /* neutral color */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: "bold";
    src: url("/assets/fonts/static/HankenGrotesk-Bold.ttf");
}

@font-face {
    font-family: "extrabold";
    src: url("/assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
}

@font-face {
    font-family: "medium";
    src: url("/assets/fonts/static/HankenGrotesk-Medium.ttf");
}

@font-face {
    font-family: "Normal";
    src: url("/assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

/* body styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 2px 2px 18px  gray;
    margin-top: 15%;
    width:48rem;
}

/* results section styles */
.results-container {
    background: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    flex: 50% 1 1;
    padding: 2rem;
}

.title-paragraph {
    font-size: 1.6rem;
    margin-bottom: 2rem;

}

.number-container {
    margin-bottom: 2rem;
    border:1px solid yellow;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    padding: 2rem;
}

.number-container h1 {
    font-size: 7rem;
    text-align: center;
    padding: 0;
    margin: 0;
}


.number-container p {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.6rem;
    margin-top: -1.2rem;
}

.results-container h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.remark-paragraph {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    padding: 0 8%;
    text-align: center;
}

/* summary section styles */
.summary-container {
    /* border:1px solid green; */
    border-radius: 0 2rem 2rem 0;
    display: flex;
    flex-direction: column;
    flex: 50% 1 1;
    padding: 2rem 3rem;
}

.summary-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-family: bold;
    color: var(--Dark-gray-blue);
}

.container {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: medium;
}

.icon-container {
    display: flex;
    gap: 1rem;
}
.container p {
    font-size: 1.2rem;
    color: gray;
}

.container p span {
    font-family: bold;
    color: var(--Dark-gray-blue);
}

.reaction-container {
    background-color: var(--light-red);
}

.reaction-container  .icon-container p {
    color: hsl(0, 100%, 67%);
}

.memory-container {
    background-color: var(--orange-yellow);
}

.memory-container .icon-container p {
    color: hsl(39, 100%, 56%);
}

.verbal-container {
    background-color: var(--green-teal);
}

.verbal-container .icon-container p {
    color: hsl(166, 100%, 37%);
}
.visual-container {
    background-color: var(--cobalt-blue);
}

.visual-container .icon-container p {
    color: hsl(234, 85%, 45%);
}

button {
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 6rem;
    border: none;
    outline: none;
    margin-top: 1rem;
    background-color: var(--Dark-gray-blue);
    color: var(--White);
}